@import url('https://fonts.googleapis.com/css?family=Montserrat');

.activities-tab {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: 800px;
  overflow: auto;

  &--center {
    display: flex;
    flex-direction: column;
    gap: 15px;  
    align-items: center;
  }
}