@import url('https://fonts.googleapis.com/css?family=Montserrat');

.class-code-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#1c1e33, #272a46);
    padding: 20px;
    border-radius: 14px;
    width: auto;
    height: auto;
    max-height: 600px;

    .class-code-body {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;

        .request-hint {
            width: 300px;
            font-size: 14px;
            text-align: center;
            color: #c1c1c1;
            margin-top: 5px;
        }

        .class-code {
            width: 400px;
            border: 1px solid white;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            font-size: 60px;
            font-weight: 600;
            margin-top: 10px;
        }

        .copy {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: #ffffff;
            width: 120px;
            height: 34px;
            border-radius: 5px;
            background: #b650f4;
            margin-left: auto;
            margin-top: 10px;
            cursor: pointer;
            border: none;
            transition: all .3s ease;
    
            &:hover {
                background-color: #5e4dcd;
            }
        }
    }

    
}