.coursepage-container{
    height: 100%;
    padding: 5%;
    background: #0d0b1c;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.coursecards-container {
    gap: 30px;
    margin: 5%;
  }
  