.coursepage-container{
    overflow-y: auto;
    border-radius: 50px;
    height: 100%;
    padding: 3%;
    background: #0d0b1c;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.coursecards-container {
    gap: 30px;
    margin: 5%;
  }
  