@import url('https://fonts.googleapis.com/css?family=Montserrat');

.error-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 81, 81);
    animation: error 0.3s ease-in forwards;

    &__header {
        font-weight: 900;

        &--msg {
            font-weight: 500;
        }
    }
}

@keyframes error {
    0% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}