// LessonContainer.scss
.lesson-container {
    background-color: #080420;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .lesson-content {
      margin-top: 30px;
      overflow: hidden;
      
      p {
        margin-bottom: 10px;
      }
     
    }
  }
  