@import './toggle.scss';

.materials-page {
  margin-top: 20px;
  display: flex;
  overflow: auto;
  height: 100%;
  position: relative;

  .syllabus-main {
    position: relative;
    margin-top: 4%;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    transition: margin-left 0.3s, width 0.3s ease;
    flex: 0 0 10%; // Make sure to set flex-basis to the width for consistency
    min-width: 200px;
    z-index: 10; // Corrected z-index without %

    .syllabus-container {
      padding-top: 60px; // Padding to prevent content from hiding behind the toggle
      transition: margin 0.3s ease;
    }

    &.collapsed {
      margin-left: -200px; // Collapse the sidebar
      width: 0; // Collapse to width of the toggle button
      flex-basis: 0;
    }
  }

  .lesson-content-container {
    flex: 1 1 90%;
    border-radius: 10px;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 50px;
    transition: margin 0.3s ease, flex-basis 0.3s ease;
    box-shadow: 11px 5px 9px 0px rgba(230,104,230,1), -1px -1px 10px rgb(144, 129, 129);
    overflow: auto; /* Add this to handle overflowing content */

    .ck-content {
      margin-top: 30px;
        max-width: 100%; /* Ensure CKEditor content does not exceed the container */
        overflow: hidden; /* Hide the overflow or use 'auto' if you want scrollbars */
        /* Other styles as needed */
        @if color == hsl(0, 0%, 0%) { // Check if the color is black
          color: #fff; // Change text color to white
        }
         
    }

    .pagination {
      position: absolute; // Position it relative to lesson-content-container
      bottom: 10px; // Adjust as needed to position at the bottom
      left: 50%;
      transform: translateX(-50%); // Center horizontally
    }



    
  }

  &.collapsed .lesson-content-container {
    flex: 1; // Take up all available space when syllabus-main is collapsed
    margin-left: 20px; // Remove the margin when sidebar is collapsed
  }
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  li {
    margin: 0 5px;
    a {
      cursor: pointer;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    &.active a {
      background-color: #007bff;
      color: white;
    }
  }
}


.checkbox {
  display: none;
}

.toggle {
  position: absolute;
  margin-top: 6%;
  margin-left: 5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 11; // Above the syllabus-main
  transition: right 0.2s ease;

  .materials-page:not(.collapsed) & {
    margin-top: 5.5%; // Adjust this to fit the inside edge of syllabus-main
    margin-left: 2%;
  }
}

  // This will move the toggle button inside the syllabus container when expande

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
  transition-duration: .5s;
}

#bar2 {
  transition-duration: .8s;
}

#bar1, #bar3 {
  width: 70%;
}

.checkbox:not(:checked) + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

.checkbox:not(:checked) + .toggle #bar2 {
  transform: scaleX(0);
}

.checkbox:not(:checked) + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
}

.checkbox:not(:checked) + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
}

.checkbox:not(:checked) + .toggle {
  transform: rotate(180deg);
}

  
  // ... Rest of your existing styles
  


