@import url('https://fonts.googleapis.com/css?family=Montserrat');

.mocktest-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #100D1F;
  font-family: "Montserrat", sans-serif;
  padding: 0 50px 0 50px;

  .mocktest-title {
    color: #fff;
    margin-bottom: 20px;
    align-self: flex-start;
    width: 100%;
    max-width: 1500px;
    padding: 0 80px;
  }

  .titleBar {
    border: 2px solid #B62AB9;
    width: 100%;
    max-width: 300px;
    margin-bottom: 50px;
    align-self: flex-start;
    margin-left: 80px;
  }

  .mocktest-results {
    background-color: #130F26;
    box-shadow: 2px 2px 12px #B62AB9;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 80em;
    text-align: center;
    position: relative;

    .congratulations-box {
      background-color: #B62AB9;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    .congratulations-message {
      color: #ffffff;
      font-weight: bold;
      font-size: 1.5em;
      margin: 0;
    }

    .score-message {
      color: #fff;
      margin: auto;
      font-size: 1.2em;
      margin-bottom: 20px;
    }

    .messageBar {
      border: 2px solid #B62AB9;
      width: 100%;
      max-width: 40em;
      margin: auto;
    }
  }

  .buttons-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 60px;

      button {
        margin-top: 45px;
        margin-left: 10px;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        color: #ffffff;
        outline: none;
        transition: background-color 0.3s ease;
      }

      .view-assessment-btn {
        background-color: #ffffff;
        color: #B62AB9;
        margin-right: 10px;

        &:hover {
          background-color: #B62AB9;
          color: #ffffff;
        }
      }

      .back-to-class-btn {
        background-color: #B62AB9;
        color: #ffffff;
        margin-right: 80px;

        &:hover {
          background-color: #ffffff;
          color: #B62AB9;

        }
      }
  }
}
