@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: "Montserrat", sans-serif;
}

.mock-test {
  background: #100D1F; // Main dark background color
  color: #ffffff; // White text color
  padding: 40px;
  min-height: 150vh;

  h1 {
    font-size: 30px; // Large text for the main title
    text-align: left;
  }

  .subtitle { // Added subtitle styles
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5); // White with 50% opacity
    margin-bottom: 40px;
    margin-top: -12px;
  }

  .exam-timer {
    background: #B62AB9; // Purple background for the timer
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute; // Fixed position to keep it at the top
    right: 40px;
    top: 65px;
  }

  .submit-button {
    background: #B62AB9; // Purple color for the submit button
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 15px 50px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 40px;
    margin: 40px 0 0px 1272px; // Center the button
    transition: background-color 0.3s;

    &:hover {
      background: #FFFFFF; // Slightly lighter purple on hover
      color: #B62AB9;
    }
  }
}

