@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fbfaf9;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #0d0b1c;
}

.button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #0d0b1c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fff;
    color: #201c1c;
  }
}

.user {
  display: flex;
  gap: 15px;
}

.user-c {
  color: #ffffff;
  font-size: 20px;
  width: 125px;
  height: 55px;
  border-radius: 14px;
  background: transparent;
  border: 1px solid white;
  transition: all 0.3s ease;
  cursor: pointer;


  &:hover {
    background-color: #fff;
    color: #201c1c;
  }
}